*{
    margin: 0px ;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 500px;
    display: grid;
    grid-template-areas: 
        ".Header-container"
        ".Seventh-container .First-container .Second-container"
        ".Seventh-container .Third-container .Fourth-container"
        ".Nineth-container .Fifth-container .Sixth-container";
    padding: 32px;
    gap: 10px;
}

nav2023{
    height: 250px;
    width: 250px;
}
.Seventh-container{
    grid-area: main;
    background-color: red;
    width: 100px;
    height: 100px;
}
.Header-container{
    grid-area: title;
    background-color: orange;
    width: 1080px;
    height: 100px;
}

.First-container{
    grid-area: img1;
    background-color: green;
    width: 120px;
    height: 120px;
}

.Second-container{
    grid-area: img2;
    background-color: yellow;
    width: 120px;
    height: 120px;
}
.Third-container{
    grid-area: Img3;
    background-color: black;
    width: 120px;
    height: 120px;
}
.Fourth-container{
    grid-area:Img4;
    background-color: navy;
    width: 120px;
    height: 120px;
}
.Fifth-container{
    grid-area:Img5;
    background-color: purple;
    width: 100px;
    height: 100px;
}
.Sixth-container{
    grid-area:Img6;
    background-color: lightgreen;
    width: 100px;
    height: 100px;
}

.Eighth-container{
    grid-area: footer;
    background-color: hotpink;
    width: 150px;
    height: 100px;
}