*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "main nav2 nav"
        "main nav2 nav"
        "footer nav3 nav";
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 90% 8%;
    padding: 32px;
    gap: 32px;
}
nav{
    grid-area: nav;
    background-color: yellow;
    display: grid;
    overflow: hidden;
    grid-template-rows: 125px 1fr 125px;
}

.icon-container{
    background-color: aqua;
}

header{
    grid-area: header;
    background-color: green;
    display: grid;
    place-items: end;
}
.links-container{
    background-color: yellow;
    width: 210px;
    height: 100px;
}
main{
    grid-area: main;
    background-color: red;
    display: grid;
    grid-template-areas: 
        "title title"
        "texts nothing";
    gap: 10px;
    grid-template-rows: 100px;
    grid-template-columns: 585px;
}

.title-container{
    grid-area: title;
    background-color: silver;
}
.texts-container{
    grid-area:posts;
    background-color: yellow;
}
.nothing{

}

footer{
    grid-area: footer;
    background-color: blue;
}