*{
    margin: 0px ;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 500px;
    display: grid;
    grid-template-areas: 
        ".Header"
        ".Seventh nav1"
        "footer";
    padding: 32px;
    gap: 10px;
}

nav1{
    height: 250px;
    width: 250px;
    grid-template-areas: 
    ".FirstN .SecondN"
    ".ThirdN .FourthN";
    grid-template-columns: 120px 120px;
    grid-template-rows: 120px 120px;
}

.Header{
    grid-area: ".Header";
    background-color: orange;
    width: 1080px;
    height: 100px;
    text-align: center;
}

.FirstN{
    grid-area: ".FirstN";
    background-color: green;
    width: 120px;
    height: 120px;
}

.SecondN{
    grid-area: img2;
    background-color: yellow;
    width: 120px;
    height: 120px;
}

.ThirdN{
    grid-area: Img3;
    background-color: black;
    width: 120px;
    height: 120px;
}

.FourthN{
    grid-area:Img4;
    background-color: navy;
    width: 120px;
    height: 120px;
}

.FifthM{
    grid-area:Img5;
    background-color: purple;
    width: 250px;
    height: 250px;
}

.SixthF{
    grid-area:Img6;
    background-color: lightgreen;
    width: 100px;
    height: 100px;
}

.SeventhF{
    grid-area: main;
    background-color: red;
    width: 100px;
    height: 100px;
}

.EighthF{
    grid-area: footer;
    background-color: hotpink;
    width: 150px;
    height: 100px;
}